/* /Components/Alert.razor.rz.scp.css */
.alert-container[b-2quofnyvs5] {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 16px;
    border-radius: 5px;
    margin: 20px 0;
    font-size: 1em;
}

.alert-container.hidden[b-2quofnyvs5] {
    display: none;
}

.alert-container.alert-info[b-2quofnyvs5] {
    color: #004085 !important;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
}

.alert-container.alert-info i[b-2quofnyvs5],
.alert-container.alert-info p[b-2quofnyvs5] {
    color: #004085 !important;
}

.alert-container.alert-warning[b-2quofnyvs5] {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
}

.alert-container.alert-warning i[b-2quofnyvs5],
.alert-container.alert-warning p[b-2quofnyvs5] {
    color: #856404 !important;
}

.alert-container.alert-danger[b-2quofnyvs5] {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.alert-container.alert-danger i[b-2quofnyvs5],
.alert-container.alert-danger p[b-2quofnyvs5] {
    color: #721c24 !important;
}

.alert-container.alert-success[b-2quofnyvs5] {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.alert-container.alert-success i[b-2quofnyvs5],
.alert-container.alert-success p[b-2quofnyvs5] {
    color: #155724 !important;
}

.alert-container p[b-2quofnyvs5] {
    margin: 0;
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-yvoeg4ru4b] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-yvoeg4ru4b] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-yvoeg4ru4b] {
    font-size: 1.1rem;
}

.bi[b-yvoeg4ru4b] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-yvoeg4ru4b] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-yvoeg4ru4b] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-yvoeg4ru4b] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-yvoeg4ru4b] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-yvoeg4ru4b] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-yvoeg4ru4b] {
        padding-bottom: 1rem;
    }

    .nav-item[b-yvoeg4ru4b]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-yvoeg4ru4b]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-yvoeg4ru4b]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-yvoeg4ru4b] {
        display: none;
    }

    .collapse[b-yvoeg4ru4b] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-yvoeg4ru4b] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Anime/ScrapSheet.razor.rz.scp.css */
.playground-params-container[b-ecise14z56] {
    min-height: 80px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap:10px;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 10px;
}

body.dark-theme .playground-params-container[b-ecise14z56] {
    background: #303030;
    color: var(--dark-secondary-color);
}

.playground-params-container input[b-ecise14z56]{
    background: transparent;
    border: none;
    font-size: 1em;
}

.playground-params-container button[b-ecise14z56]{
    background: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.playground-params-container button i[b-ecise14z56] {
    color: green;
}

body.dark-theme .playground-params-container button[b-ecise14z56],
body.dark-theme .playground-params-container input[type=url][b-ecise14z56]{
    color: var(--dark-secondary-color);
}
