@inherits LayoutComponentBase
<div class="page">
    <header>
        <nav>
            <div class="logo-container">
                <a>
                    <img src="medias/icotaku-55ddd056f6734e5dab2bd2a448c9ca11.jpg" alt="IcotakuScrapper"/>
                    <span>Documentation d'IcotakuScrapper</span>
                </a>
            </div>
            <div class="content-container">
                <button id="toggle-theme-btn"><i class="fa-solid fa-circle-half-stroke"></i></button>
            </div>
        </nav>
    </header>
    <main>
        <!-- Navigation de la documentation entière-->
        <aside class="full-documentation-navigation">
            <ul>
                <li>
                    <a href="/">
                        <span class="emoji">&#x1F44B;</span><span>Bienvenue</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="emoji">&#x1F3CC;</span><span>Démarrage et configuration</span>
                    </a>
                </li>
                <li class="section">
                    <span>LES ANIM&Eacute;S</span>
                </li>
                <li>
                    <a href="/Anime/ScrapSheet">
                        <span class="emoji">&#x1F578;</span><span>Scrapper une fiche</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="emoji">&#x23EC;</span><span>Restituer une fiche</span>
                    </a>
                </li>
            </ul>
        </aside>
        <section id="documentation-container">
            @Body
        </section>
        <!-- Navigation de la documentation en cours -->
        <aside class="current-documentation-navigation">
            <p>Dans cette page : </p>
            <ul>
                
            </ul>
        </aside>
    </main>
</div>
